<ion-view view-title="Svara på frågan">
    <ion-content class="padding">
        <h2>{{vm.title}}</h2>

        <div ng-if="vm.questionType === 'single'" class="list" ng-repeat="answer in vm.answers">
            <label class="item item-radio">
                <input type="radio" name="group" ng-click="vm.radioClick($index)">

                <div class="item-content">
                    {{answer.answer}}
                </div>
                <i class="radio-icon ion-checkmark"></i>
            </label>
        </div>

        <ul ng-if="vm.questionType !== 'single'" class="list" ng-repeat="answer in vm.answers">

            <li class="item item-checkbox" ng-click="vm.multipleToggle($index)">
                <label class="checkbox">
                    <input type="checkbox">
                </label>
                {{answer.answer}}
            </li>
        </ul>

        <a class="button icon-right ion-chevron-right button-calm" ng-click="vm.getNextQuestion()">Submit answer</a>

    </ion-content>
</ion-view>
